PAM2_SERVLET_CLIENT/src/conf/xml-resources/web-service-references/SearchImageByTitle/wsdl/localhost_8080/PAM02_SAOP_WS/SearchImageByTitle.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://pam.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pam.edu/">

<xs:element name="Image" type="tns:image"/>

<xs:element name="doSearchByTitle" type="tns:doSearchByTitle"/>

<xs:element name="doSearchByTitleResponse" type="tns:doSearchByTitleResponse"/>

<xs:complexType name="doSearchByTitle">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doSearchByTitleResponse">
<xs:sequence>
<xs:element name="return" type="tns:image" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="image">
<xs:sequence>
<xs:element name="Author" type="xs:string" minOccurs="0"/>
<xs:element name="CreationDate" type="xs:string" minOccurs="0"/>
<xs:element name="Description" type="xs:string" minOccurs="0"/>
<xs:element name="Filename" type="xs:string" minOccurs="0"/>
<xs:element name="Keywords" type="xs:string" minOccurs="0"/>
<xs:element name="StorageDate" type="xs:string" minOccurs="0"/>
<xs:element name="Title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>